.bag-button {
    background-color: lightgreen;
    border: none;
    padding: 5px 15px;
    border-radius: 15px;
}
.wish-button {
    padding: 5px 35px;
    border: 2px solid black;
    border-radius: 10px;
}
.fa-heart{
    color: brown;
    padding-right: 5px;
}